/* Body Styles */
.body-text-wrapper {
    display: flex;
    justify-content: center;
    height: 600px;
}

.body-text-wrapper > .left-column {
    width: 600px;
}

.body-text-wrapper > .center-column {
    width: 600px;
}

.body-text-wrapper > .right.column {
    width: 600px;
}