/* Header Styles - Text & Titles */
h1 {
    color:#e6c5b4;
    font-size: 1.5em;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 157px;      
}

h2 {
    color:#e6c5b4;
    font-size: 2.70em; 
    text-decoration: underline;
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 15px;
}

h3 {
    color:#3c9a77;
    font-size: 2.0em;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 157px;      
}

/* Header Body Styles */
.header-wrapper {
    height: 190px; 
    background-color: #338466;
    color: #e6c5b4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 60px 25px 60px;
}

/* Header Body - Left Column Styles */
.header-wrapper > .left-column {
    display: flex;
    align-items: end;
}

/* Header Body - Center Column Styles */
.header-wrapper > .center-column {
    display: flex;
    align-items: flex-start;
}

.header-wrapper > .center-column > .nav-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

/* Header Body - Right Column Styles */
.header-wrapper > .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.header-wrapper > .right-column > .links {
    width: 100px;
}

.header-wrapper > .right-column > .links a {
    transition: 0.5s;
    color: #e6c5b4;
}

.header-wrapper > .right-column > .links a:hover {
    letter-spacing: 1px;
}

/* Body Styles */
body {
    margin: 0px;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #dfd2cb;
}

/* Body - Navigation Links Styles */
.nav-links-wrapper {
    background-color: #dfd2cb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 5px solid #3c9a77;
}

.nav-links-wrapper > .links a {
    transition: 0.5s;
    text-decoration: none;
    color: #3c9a77;
    font-size: 1.1em;
}

.nav-links-wrapper > .links > a:hover {
    color: #ce7eba;
    letter-spacing: 2px;
}

/* Body - text Styles */
.body-text-wrapper { 
    background-color: #dfd2cb;
    color: #3c9a77;
    display: flex;
    justify-content: space-between;
}

/* Homepage contact section */
.contact-wrapper {
    height: 200px;
    border-bottom: 5px solid #3c9a77;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-wrapper > .center-column {
    color: #3c9a77;
    padding: 20px;
    margin: 45px;
    text-align: center;
}




