/* Font Styles */
.nanum-gothic-coding-regular {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

/* Body Styles */
.body-text-wrapper {
    display: flex;
    justify-content: center;
    height: 1500px;
}

.body-text-wrapper > .left-column {
    width: 300px;
    padding: 10px 80px 10px 10px;
}

.body-text-wrapper > .center-column {
    width: 300px;
    padding: 10px 50px;
}

.body-text-wrapper > .right.column {
    width: 300px;
    padding: 10px 50px;
}

h4 {
    text-decoration: underline;
    font-size: 2em;
}

h5 {
    color: #926f98;
    font-size: 1.5em;
    margin-left: 70px;
    margin-top: 50px;
}